
03-paisesApp/.vscode/extensions.json
03-paisesApp/.vscode/extensions.json
03-paisesApp/.vscode/launch.json
03-paisesApp/.vscode/tasks.json
03-paisesApp/.vscode/tasks.json
03-paisesApp/.vscode/launch.json
03-paisesApp/.vscode/extensions.json
03-paisesApp/.browserslistrc
03-paisesApp/.editorconfig
03-paisesApp/.vscode/extensions.json
03-paisesApp/.vscode/launch.json
03-paisesApp/.vscode/tasks.json
05-heroesApp/.vscode/extensions.json
05-heroesApp/.vscode/extensions.json
05-heroesApp/.vscode/tasks.json
05-heroesApp/.vscode/launch.json
05-heroesApp/.editorconfig
05-heroesApp/.browserslistrc
05-heroesApp/.vscode/tasks.json
05-heroesApp/.vscode/launch.json
05-heroesApp/.vscode/extensions.json
